{% extends 'base.html' %}

{% block title %}
MARKET PAGE
{% endblock %}

{% block body %}
<table class="table table-bordered table-striped text-center center-block align-middle mt-5">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">NAME</th>
        <th scope="col">PRICE</th>
        <th scope="col">BARCODE</th>
        <th scope="col">OPTIONS</th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>
            <button type="button" class="btn btn-outline-info">More info</button>
            <button type="button" class="btn btn-outline-danger">Purchase this item</button>        
        </td>
      </tr>
      <tr>
        <td>1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>
            <button type="button" class="btn btn-outline-info">More info</button>
            <button type="button" class="btn btn-outline-danger">Purchase this item</button>        
        </td>
      </tr>
      <tr>
        <td>1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>
            <button type="button" class="btn btn-outline-info">More info</button>
            <button type="button" class="btn btn-outline-danger">Purchase this item</button>        
        </td>
      </tr>
    </tbody>
  </table>
{% endblock %}