{% extends 'base.html' %}

{% block title %}
MARKET PAGE
{% endblock %}
{% block body %}
<div class="row" style="margin-top:20px; margin-left:20px">
  <div class="col-8">
    <h3 class="mt-5">AVAILABLE ITEMS IN THE MARKET</h3>
    <br>
    <h6>CLICK ONE OF THE ITEMS TO START PURCHASING</h6>
    <table class="table table-bordered table-striped text-center center-block align-middle mt-5">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">NAME</th>
          <th scope="col">PRICE</th>
          <th scope="col">BARCODE</th>
          <th scope="col">OPTIONS</th>
        </tr>
      </thead>
      <tbody>
        {% for item in items %}
        {% include 'includes/items_modals.html' %}

        <tr>
          <td>{{item.id}}</th>
          <td>{{item.name}}</td>
          <td>{{item.price}}</td>
          <td>{{item.barcode}}</td>
          <td>
            <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#modal-{{item.id}}">More
              info</button>
            <button type="button" class="btn btn-outline-danger" data-toggle="modal"
              data-target="#purchase_modal-{{item.id}}">Purchase this item</button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="col-4">
    <h3 class= "mt-5">Owned Items</h3>
    <br>
    <h6>CLICK ON SELL ITEM TO PUT IT BACK TO THE MARKET</h6>
    <br>
    <div class="row mt-3">
      {% for owned_item in owned_items %}
      {% include 'includes/owned_items_modals.html' %}
      <div class="col-md-8">
        <div  class="card text-center bg-light mb-5">
          <div class="card-body">
            <h5 class="card-title">{{ owned_item.name }}</h5>
            <button type="button" class="btn btn-outline-danger" style="margin-bottom: 5px" data-toggle="modal"
              data-target="#sell_modal-{{owned_item.id}}">
              Sell this Item
            </button>
            <p class="card-text"><strong>
                This item costs {{ owned_item.price }}
              </strong></p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  {% endblock %}